MONGO_URI="mongodb+srv://<user>:<password>@<cluster>.mongodb.net"
DB_NAME="avenu_db"
SECRET_KEY="random_16_char_string"

SESSION_COOKIE_SECURE="true"
SESSION_COOKIE_SAMESITE="None"
SESSION_COOKIE_PARTITIONED="true"

FRONTEND_ORIGINS="http://localhost:8080"
SCHEDULER_INTERNAL_TOKEN="random_32_char_string"

MS_GRAPH_TENANT_ID="<azure-tenant-id>"
MS_GRAPH_CLIENT_ID="<azure-client-id>"
MS_GRAPH_CLIENT_SECRET="<azure-client-secret>"
MS_GRAPH_SENDER_EMAIL="mail@avenuworkspaces.com"

SCHEDULER_CRON="0 8 * * 1"
SCHEDULER_TIMEZONE="America/New_York"
SCHEDULER_TICK_SECONDS="20"
